image:
  schema:
    repository: gcr.io/ggl-cas-storage/cas-ciip-portal-schema
    tag: b530194a9df22e64b1a701defd3b65f41b01676b # pragma: allowlist secret
    pullPolicy: IfNotPresent
  app:
    repository: gcr.io/ggl-cas-storage/cas-ciip-portal-app
    tag: b530194a9df22e64b1a701defd3b65f41b01676b # pragma: allowlist secret
    pullPolicy: IfNotPresent
  psql:
    repository: gcr.io/ggl-cas-storage/cas-postgres
    pullPolicy: Always
    tag: "0.1.0"

replicas: 2
port: 3000
resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 10m
    memory: 124Mi

networkSecurityPolicies:
  enable: true

route:
  # route.host defines the host name for the route template,
  # and the HOST env variable for the app deployment
  host: ciip.gov.bc.ca
  # set to true to create a route with tls and edge redirection disabled
  insecure: false
  # used for both acme.sh rwx volumes
  storageClassName: netapp-file-standard

persistence:
  db: ciip
  dbOwner: ciip
  appUser: ciip_portal
  readonlyUser: ciip_readonly

dag:
  # a command to be executed at the beginning of the init-db job, running in the psql image abov
  preInitDb: ""
  name: "ciip_deploy_db"
  enable: true

env:
  smtpConnectionString: smtp://apps.smtp.gov.bc.ca/?port=25&ignoreTLS=true&secure=false
  senderEmail: BCCAS <no-reply.cas@gov.bc.ca>
  adminEmail: GHG Regulator <GHGRegulator@gov.bc.ca>
  enableDbMocks: false

# NOTE: To be displayed properly, content must be an HTML Bootstrap alert, ie: <div class="alert alert-info">Message</div>
sitewide_notice:
  content: null

analytics:
  enable: false

fider:
  host: # TODO move fider template in this repo

restoreFromProd:
  enable: false

mailhog:
  enable: false
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 128Mi

cas-postgres:
  patroni:
    resources:
      limits:
        cpu: 1000m
        memory: 2Gi
      requests:
        cpu: 15m
        memory: 600Mi
    persistentVolume:
      size: 20Gi
    replicaCount: 3
    env:
      ALLOW_NOSSL: true
      USE_WALG_BACKUP: "true"
      USE_WALG_RESTORE: "true"
    walE:
      enable: true
      # the GCS bucket name should be {{ namespace }}-{{ gcs.bucketSuffix }}
      gcsBucket:
      # kubernetesSecret should be gcp-{{ namespace }}-{{ gcs.bucketSuffix }}-service-account-key
      kubernetesSecret:
    # options below are required if walE.enable is true
  namespace:
  gcs:
    bucketSuffix:
