apiVersion: v1
kind: Service
metadata:
  name: {{ template "cas-ciip-portal.fullname" . }}
  labels:
{{ include "cas-ciip-portal.labels" . | indent 4 }}

spec:
  ports:
  - name: {{ template "cas-ciip-portal.fullname" . }}
    port: {{ .Values.port }}
    protocol: TCP
    targetPort: 3000
  selector:
    component: app
{{ include "cas-ciip-portal.selectorLabels" . | indent 4 }}
  sessionAffinity: None
  type: ClusterIP
