.no-pad{
    padding-left:0 !important;
    padding-right:0 !important;
}
.no-pad-left {
    padding-left:0 !important;
}
.no-pad-right{
    padding-right:0 !important;
}

.col-12{
    padding-left:0 !important;
    padding-right:0 !important;
}

.col-12.form-group.field{
    padding-left:0 !important;
    padding-right:10px !important;
    /* height: 0; */
    /* display: inline-block; */
}

.badge{
    padding: 8px;
}

.inline-block{
    display:inline-block;
}

.search-form{
    display: flex;
    justify-content: flex-end;
}

.search-form .form-group{
    float: left;
}
.search-form .rjsf {
    display: inline-block;
}
.search-form .rjsf:first-child .col-12{
    width: 69%;
}
.search-actions{
    display:inline-block;
    width: 30%;
}

.emission .zero-emission,
.emission-form .zero-emission{
    display:none !important;
}

.emission-form .show-zero-emissions .zero-emission
{
    display:block !important;
}
