{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["relay", { "artifactDirectory": "./__generated__" }],
    "macros",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
